<div class="container">
  <div class="clearfix">
    <h2 class="pull-left">
      <small>#{{model.id}}</small>
      {{model.title}}
    </h2>
    <div class="pull-right">
      <button class="btn btn-danger" {{action 'delete'}}>
        Delete
      </button>
      {{#link-to 'project.edit'}}
        <button class="btn btn-warning">Edit</button>
      {{/link-to}}
    </div>
  </div>
  <div>
    <h3>Project Details</h3>
    <dl>
      <dt>Version:</dt>
      <dd>{{model.version}}</dd>
      <dt>Remixed From:</dt>
      <dd>{{model.remixed.from}}</dd>
      <dt>Featured?</dt>
      <dd>{{model.featured}}</dd>
    </dl>
  </div>
  <div>
    <h3>Author Details</h3>
    <dl>
      <dt>ID:</dt>
      <dd>{{model.author.id}}</dd>
      <dt>Username:</dt>
      <dd>{{model.author.username}}</dd>
      <dt>Language:</dt>
      <dd>{{model.author.locale.language}}</dd>
    </dl>
  </div>
  <div>
    {{model.thumbnail}}
  </div>
</div>
